ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 0.5rem;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

a.active {
    font-weight: bold;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.pan-image {
    width: 100%;
    max-width: 500px;
}

.apply-button {
    display: inline-block;
    background: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar {
    background: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.sidebar h3,
.sidebar h4 {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.sidebar ul li i {
    margin-right: 10px;
}

.sidebar ul li.active {
    background-color: #0056b3;
}